body{
    width: 100%;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
.overlay{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 3;
    align-self: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    letter-spacing: .15em;
    padding-bottom: 250px;
}
img{
    width: 655px;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}
.cherries{
    width: 655px;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    background-color: #B9B8B9;
    color: #97060C;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: .15em;
    padding-top: 400px;
    padding-bottom: 30px;
}