body {
    max-width: 1080px;
    min-width: 700px;
    background-color: white;
    margin: 0 auto;
}
header img {
    text-align: center;
    width: 100%;
    max-width: 1080px;
    min-width: 700px;
    margin: 0 auto;
    vertical-align: top;
}
.threeicons {
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 1080px;
    min-width: 700px;
    background-color: #737373;
    margin: 0 auto;
}
.desk, .graphic, .person {
    width:20%;
    margin: 30px;
    padding: 0px;
    border: 15px solid;
    border-radius: 50%;
    border-color: #444444;
}


/* * {
    border: 2px solid blue;
}*/

