.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
body {
    margin: 0;
}
#active {
    background-color: white;
    color: steelblue;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solic steelblue;
}
p {
    width: 80%;
}
a {
    font-size: 1.5em;
    color: white;
    padding: 25px;
}
/* this shows the borders of the boxes {
    border: 2px solid blue;
}*/
h1 {
    text-align: center;
}
nav {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
}
footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
}
main p {
    width: 80%;
    margin: 50px auto;
    /*text-align: center;*/
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
}
a:hover {
    background-color: white;
    color: steelblue;
}
h1 {
    margin: 50px 0;
}